.products {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
    @include ipad {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  
    @include iphone {
      grid-template-columns: 1fr;
      padding: 10px;
    }
  
    .mouse {
      transition: $transition;
    }
  
    &__item {
      text-align: center;
  
      &--img {
        height: 200px;
        margin: 15px 0;
        cursor: pointer;
  
        @include ipad {
          height: 180px;
          margin-bottom: 10px;
        }
      }
  
      &--title {
        height: 40px;
        font-weight: 500;
        margin-bottom: 5px;
        @include flexbox(center);
  
        @include iphone {
          padding: 0 10px;
        }
      }
  
      &--price {
        font-weight: 300;
  
        @include iphone {
          padding: 0 10px;
        }
      }
  
      &--button {
        border-radius: 50px;
        margin: 15px;
        padding: 8px;
        font-weight: 300;
        color: $darkGray;
        font-family: $fontFamily;
        cursor: pointer;
  
        &:hover {
          @include hover {
            background-color: $gray;
            color: $white;
            border-radius: none;
            transform: scale(1.1);
            transition: $transition;
          }
        }
      }
    }
  }
  